body {
  background-color: #1d1d1d;
  color: white;
  font-family: 'Lato', sans-serif;
}

.headshotcontainer {
  min-width: 215px;
  margin-right: 80px;
  /*outline: dotted blue 2px;*/
}

.center {
  display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.aboutcontainer {
  max-width: 600px;
  margin: 12px;
  /*margin-left: 80px;*/
}

.biocontainer {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  /*outline: yellow dotted 2px;*/
}

.title {
  height: 86px;
}

.spacer {
  height: 132px;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 66pt;
  margin: 0;
  line-height: 1em;
}

span:hover {
  color: #1d1d1d;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h2 {
  font-size: 1.8em;
  text-align: center;
}

h3 {
  font-size: 36pt;
  line-height: .4em;
  text-align: center;
}

h4 {
  font-size: 1.4em;
  line-height: 32px;
  text-align: justify;
  /*font-family: 'Poppins', sans-serif;*/
}
h6:hover {
  transition: .15s ease-in-out;
  text-shadow: 0 0 3px, 0 0 4px gray;
  cursor: pointer;
}

p {

}

.scroll-fix {
  background-color: #1d1d1d;
}

header {
  /*width: 80%;*/
  margin: 0 auto;
}


.navflex {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbutton:hover{
  color: white;
  background-color: DimGray;
  transition: .15s ease-in-out;
  text-shadow: 0 0 3px, 0 0 4px gray;
  cursor: pointer;
}

.navbutton {
  flex: 1;
}

nav a {
  text-align: center;
  display:inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: 1.2em;
}

a {
  color:inherit;
}

a:hover {
  color: orange;
}

.line {
  height: 2px;
  background-color: white;
}

.line-sm {
  display: none;
  height: 2px;
  background-color: white;
}

/*main {
  width: 70%;
  margin: 0 auto;
}*/

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 3px;
  border: white 2px solid;
  /*margin: 15px;*/
}

.link {
  height: 80px;
  width: 80px;
  margin: 15px;
}

.link:hover {
  opacity: .6;
}

.anchor {
  padding-top: 70px;
}

.container {
  margin: 0 auto;
  /*outline: red 2px dotted;*/
  display: flex;
  justify-content: center;

}

/*.box:hover {
  background-position: -99.99% 0;

}*/

.box {
  display: inline-block;
  overflow: hidden;
  align-items: center;
  margin: 40px;
  min-width: 320px;
  max-height: 450px;
  /*background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #535353 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 0.2s ease-out;*/
  /*outline: blue 2px dotted;*/
}

.top-left {
  border-right: white 2px solid;
  border-bottom: white 2px solid;
}

.bottom-right {
  border-left: white 2px solid;
  border-top: white 2px solid;
}

.img {
  margin: 4px auto;
  height: 350px;
  width: 350px;
  cursor: pointer;
  background-size: cover;
  box-shadow: 10px 10px 5px #141414;
  background-repeat: no-repeat;
  /*outline: yellow 2px dashed;*/
}

.img:hover {
  /*outline: white 1px solid;*/
  box-shadow: 10px 15px 8px #101010;

}

.vid {
  padding-top: 20px;
  overflow: auto;
  margin: 0 auto;
  height: 325px;
  width: 420px;
  /*outline: yellow 2px dashed;*/
}

.caption {
  display: table;
  margin: auto;
  width: 550px;
  min-height: 300px;
  /*outline: lime dotted 2px;*/
}

.captiontext {
  font-size: 1.2em;
  display: table-cell;
  vertical-align: middle;
  /*outline: red dashed 2px;*/
}

strong {
  font-size: 1.1em;
  font-weight: bolder;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3.5em;
  }

  .container {
    /*outline: dotted 2px yellow;*/
    flex-direction: column;
    align-items: center;
 }

 .biocontainer{
  padding: 0 12px;
 }

 .aboutcontainer{
   padding: 0 12px;
 }
 .navflex {
   display:none;
 }

 .desc {
   margin-top: -43px;
 }

 .headshotcontainer {
   margin-right: 12px;
 }

 .caption, .vid{
   min-height: 100px;
   width: 320px;
 }

 .captiontext {
   text-align: center;
 }
 .line {
   display: none;
 }

 .line-sm {
   display: block;
 }

}

@media (max-width: 900px) {
  .spacer {
    display:none;
  }
  .caption {
    max-width: 370px;
    min-width: 270px;
  }


}
