body {
  background-color: #1d1d1d;
  color: white;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 66pt;
  margin: 0;
  line-height: 1em;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 36pt;
  line-height: .4em;
}

p {
  font-size: 1.2em;
}

.scroll-fix {
  background-color: #1d1d1d;
}

header {
  width: 80%;
  margin: 0 auto;
}


.navflex {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbutton:hover {
  background-color: gray;
  transition: .2s ease-in-out;
  text-shadow: 0 0 3px, 0 0 4px gray;
  cursor: pointer;
}

nav a {
  display:inline-block;
  padding: 20px;
  text-decoration: none;
}

a {
  color:inherit;
}

.line {
  height: 2px;
  background-color: white;
}

main {
  width: 70%;
  margin: 0 auto;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
  border: lemonchiffon 1px solid;
  margin: 15px;
}

.link {
  height: 100px;
  width: 100px;
}

.link:hover {
  opacity: .6;
}

.anchor {
  padding-top: 70px;
}

#aboutpage {
  display: block;
  text-align: center;
  width: 600px;
}

/*#webdevpage, #soundpage {
  display: none;
}*/

.container {
  margin: 0 auto;
  /*outline: red 2px dotted;*/
  display: flex;
  justify-content: center;
}

.box {
  display: inline-block;
  overflow: hidden;
  align-items: center;
  margin: 2px;
  width: 446px;
  height: 450px;
  /*outline: blue 2px dotted;*/
}

.top-left {
  border-right: white 2px solid;
  border-bottom: white 2px solid;
}

.bottom-right {
  border-left: white 2px solid;
  border-top: white 2px solid;
}

.img {
  margin: 4px auto;
  height: 350px;
  width: 350px;
  cursor: pointer;
  background-size:contain;
  /*outline: yellow 2px dashed;*/
}

.img:hover {
  outline: white 1px solid;
}

.vid {
  padding-top: 20px;
  overflow: auto;
  margin: 0 auto;
  height: 325px;
  width: 420px;
  /*outline: yellow 2px dashed;*/
}

.caption {
  display: table;
  margin: auto;
  width: 350px;
  height: 100px;
  /*outline: lime dotted 2px;*/
}

.captiontext {
  display: table-cell;
  vertical-align: middle;
}

strong {
  font-size: 1.1em;
  font-weight: bolder;
}
